<div class="container mt-5">
  <div class="col-lg-14 mx-auto">
    <div class="card card-body">
      <h4 class="text-center mb-3">Customers <a routerLink="/add" class="btn btn-sm btn-primary float-right">Add New Customer</a>
      </h4>
      <p *ngIf="users.length == 0" class="text-center my-5 text-danger"> No Customers Found</p>
      <div *ngIf="users.length >0">
          <div class="col-md-12">
              <div class="form-row">
                      <div class="search-product">
                          <input type="text" class="form-control" name="search" placeholder="Search By Name or City"
                              [(ngModel)]="search">
              </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Age</th>
              <th>City</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | filter:search; index as i">
              <td>{{user.name}}</td>
              <td>{{user.surname}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phoneNumber}}</td>
              <td>{{user.age}}</td>
              <td>{{user.city}}</td>
              <td>
                <button class="btn btn-danger mr-2 btn-sm" (click)="deleteData(user)">Delete</button>
                <button class="btn btn-primary btn-sm" (click)="handleEdit(user , i)">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>